pickleball-content-pipeline.json
{
  "name": "Pickleball Chiro \u2014 Daily Content Pipeline",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-4000-8000-100000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        400
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-4000-8000-100000000002",
      "name": "Reddit Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~reddit-scraper/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $credentials.httpHeaderAuth.value }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"startUrls\": [\n    {\"url\": \"https://www.reddit.com/r/pickleball/\"},\n    {\"url\": \"https://www.reddit.com/r/pickleballcommunity/\"}\n  ],\n  \"searches\": [\n    {\"query\": \"knee pain pickleball\", \"type\": \"subreddit\"},\n    {\"query\": \"knee hurts after playing\", \"type\": \"subreddit\"},\n    {\"query\": \"knee brace pickleball\", \"type\": \"subreddit\"},\n    {\"query\": \"playing through knee pain\", \"type\": \"subreddit\"},\n    {\"query\": \"knee won't heal\", \"type\": \"subreddit\"},\n    {\"query\": \"knee over 50 pickleball\", \"type\": \"subreddit\"}\n  ],\n  \"sort\": \"top\",\n  \"time\": \"week\",\n  \"maxItems\": 25,\n  \"includeComments\": true,\n  \"maxComments\": 3\n}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "C8sMu1dmpjCoiZD2",
          "name": "Apify API Token"
        }
      }
    },
    {
      "id": "a1b2c3d4-0003-4000-8000-100000000003",
      "name": "YouTube Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        360
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/bernardo~youtube-scraper/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $credentials.httpHeaderAuth.value }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"searchQueries\": [\n    \"pickleball injury fix\",\n    \"pickleball knee pain over 50\",\n    \"pickleball elbow pain\"\n  ],\n  \"maxResults\": 10,\n  \"includeChannelInfo\": false\n}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "C8sMu1dmpjCoiZD2",
          "name": "Apify API Token"
        }
      }
    },
    {
      "id": "a1b2c3d4-0004-4000-8000-100000000004",
      "name": "Google Web Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        560
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~google-search-scraper/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $credentials.httpHeaderAuth.value }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"queries\": \"pickleball knee pain forum\\npickleball knee pain won't go away\\npickleball knee injury keeps coming back\\npickleball knee treatment players over 50\",\n  \"resultsPerPage\": 10,\n  \"maxPagesPerQuery\": 1,\n  \"languageCode\": \"en\",\n  \"countryCode\": \"us\"\n}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "C8sMu1dmpjCoiZD2",
          "name": "Apify API Token"
        }
      }
    },
    {
      "id": "a1b2c3d4-0011-4000-8000-100000000011",
      "name": "Instagram Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        760
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~instagram-scraper/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $credentials.httpHeaderAuth.value }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"resultsType\": \"posts\",\n  \"directUrls\": [\n    \"https://www.instagram.com/explore/tags/pickleballknee/\",\n    \"https://www.instagram.com/explore/tags/pickleballkneepain/\",\n    \"https://www.instagram.com/explore/tags/pickleballviral/\",\n    \"https://www.instagram.com/explore/tags/pickleballhumor/\",\n    \"https://www.instagram.com/explore/tags/pickleballlife/\",\n    \"https://www.instagram.com/explore/tags/pickleballcommunity/\",\n    \"https://www.instagram.com/explore/tags/pickleballover50/\",\n    \"https://www.instagram.com/explore/tags/pickleballinjury/\",\n    \"https://www.instagram.com/explore/tags/pickleballrecovery/\",\n    \"https://www.instagram.com/explore/tags/pickleballpain/\",\n    \"https://www.instagram.com/explore/tags/pickleball/\"\n  ],\n  \"resultsLimit\": 150,\n  \"searchType\": \"hashtag\",\n  \"searchLimit\": 10\n}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "C8sMu1dmpjCoiZD2",
          "name": "Apify API Token"
        }
      }
    },
    {
      "id": "a1b2c3d4-0005-4000-8000-100000000005",
      "name": "Merge Scrapers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        720,
        460
      ],
      "parameters": {
        "mode": "append",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0006-4000-8000-100000000006",
      "name": "Aggregate Research",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        460
      ],
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst redditPosts = [];\nconst youtubeTitles = [];\nconst webHeadlines = [];\nconst instagramRaw = [];\n\nfor (const item of allItems) {\n  const d = item.json;\n  if (!d || typeof d !== 'object') continue;\n\n  if (d.caption !== undefined || d.likesCount !== undefined || d.shortCode !== undefined) {\n    const caption = (d.caption || '').substring(0, 280);\n    const likes = d.likesCount || 0;\n    const code = d.shortCode || d.id || '';\n    if (caption) {\n      instagramRaw.push({\n        likes: Number(likes),\n        text: '[' + Number(likes).toLocaleString() + ' likes] ' + caption + (code ? ' (https://www.instagram.com/p/' + code + '/)' : '')\n      });\n    }\n  }\n  else if (d.subreddit !== undefined || d.selftext !== undefined || d.postText !== undefined) {\n    const title = d.title || d.postTitle || '';\n    const body = (d.selftext || d.body || d.postText || '').substring(0, 250);\n    const score = d.score || d.upvotes || 0;\n    let topComment = '';\n    if (Array.isArray(d.comments) && d.comments.length > 0) {\n      topComment = (d.comments[0].body || d.comments[0].text || '').substring(0, 180);\n    } else if (d.topComment) {\n      topComment = String(d.topComment).substring(0, 180);\n    }\n    if (title) {\n      let entry = '[' + score + ' upvotes] \"' + title + '\"';\n      if (body) entry += ' \u2014 ' + body;\n      if (topComment) entry += ' | Top comment: ' + topComment;\n      redditPosts.push(entry);\n    }\n  }\n  else if (d.viewCount !== undefined || d.channelName !== undefined || d.videoId !== undefined || d.duration !== undefined) {\n    const title = d.title || '';\n    const views = d.viewCount || d.views || 0;\n    if (title) youtubeTitles.push('\"' + title + '\" \u2014 ' + Number(views).toLocaleString() + ' views');\n  }\n  else if (d.title && (d.snippet !== undefined || d.link !== undefined || d.url !== undefined)) {\n    const title = d.title || '';\n    const snippet = (d.snippet || d.description || '').substring(0, 220);\n    if (title) webHeadlines.push('\"' + title + '\"' + (snippet ? ' \u2014 ' + snippet : ''));\n  }\n  else if (d.title) {\n    webHeadlines.push('\"' + d.title + '\"');\n  }\n}\n\ninstagramRaw.sort((a, b) => b.likes - a.likes);\nconst instagramPosts = instagramRaw.map(p => p.text);\n\nlet summary = '=== INSTAGRAM POSTS \u2014 PRIMARY SIGNAL (Sorted by Likes, Highest First) ===\\n';\nif (instagramPosts.length > 0) {\n  summary += instagramPosts.slice(0, 60).join('\\n') + '\\n';\n} else {\n  summary += '(Instagram scraper returned no data for this run)\\n';\n}\n\nsummary += '\\n=== REDDIT FINDINGS \u2014 REAL PLAYER LANGUAGE (~15% weight) ===\\n';\nif (redditPosts.length > 0) {\n  summary += redditPosts.slice(0, 10).join('\\n') + '\\n';\n} else {\n  summary += '(Reddit scraper returned no data for this run)\\n';\n}\n\nsummary += '\\n=== YOUTUBE & WEB \u2014 TOPIC VALIDATION ONLY (~5% weight) ===\\n';\nif (youtubeTitles.length > 0) summary += youtubeTitles.slice(0, 4).join('\\n') + '\\n';\nif (webHeadlines.length > 0) summary += webHeadlines.slice(0, 4).join('\\n') + '\\n';\nif (youtubeTitles.length === 0 && webHeadlines.length === 0) summary += '(No YouTube/web data for this run)\\n';\n\nif (summary.length > 18000) summary = summary.substring(0, 18000) + '\\n[... truncated to fit context window]';\n\nconst systemPrompt = 'You are a content strategist for @dr.lane_o, The Pickleball Chiro on Instagram. Generate 5 content ideas structured as a daily Instagram content mix: 2 viral reach reels, 1 carousel, and 2 conversion reels.\\n\\nAUDIENCE \u2014 WHO IS ALEX:\\nDave is a serious recreational pickleball player, 45-65 years old, plays 3-5x per week. His identity is tied to the game. Biggest fears: injury ending his season, being forced to stop playing. He has tried PT, rest, ice \u2014 nothing has fully fixed it. Skeptical of generic content. Responds to hyper-specific language that mirrors his exact experience.\\n\\nBRAND VOICE:\\n- Direct, peer-to-peer, credible \u2014 Lane plays pickleball AND adjusts pickleball players\\n- Never clinical or lecture-y\\n- NEVER: \"secret\", \"game-changer\", \"for good\", \"simple fix\", \"what nobody tells you\"\\n- Content sells decisions, not information \u2014 Dave should feel understood and curious, never educated and satisfied\\n- Hormozi principle: never sell directly. Engineer conditions for Dave to decide himself.\\n\\nTHE 5-SLOT DAILY MIX:\\nProduce exactly 5 ideas, one per slot, in order. Do not swap slots.\\n\\nSLOT 1 \u2014 VIRAL REEL (Max Reach):\\nJob: Maximum reach. Gets sent to friends. Zero selling. Hook MUST come directly from the top-liked Instagram post in the research data \u2014 mirror its exact language or energy.\\nFormat: B-Roll Reel or Talking Head Reel (your choice)\\nCTA: \"Follow for more\" OR \"Send this to someone who needs to hear it\" \u2014 NO KNEE or FREE\\nfunnel_stage: \"Slot 1 \u2014 Viral Reel\"\\n\\nSLOT 2 \u2014 VIRAL REEL (Reach, Different Angle):\\nJob: Second reach post. Different angle AND different format from Slot 1. If Slot 1 is B-Roll, Slot 2 must be Talking Head \u2014 and vice versa.\\nFormat: Whichever format Slot 1 did NOT use\\nCTA: \"Send this to your playing partner\" \u2014 NO KNEE or FREE\\nfunnel_stage: \"Slot 2 \u2014 Viral Reel\"\\n\\nSLOT 3 \u2014 CAROUSEL:\\nJob: The one carousel of the day. Earns saves. High visual value. Must be knee-pain focused.\\nFormat: Carousel \u2014 MANDATORY. Do not suggest a reel for this slot under any circumstances.\\nCTA: \"Comment KNEE and I\\'ll send you the guide\" in most runs. Use \"Comment FREE for the checklist\" only when the carousel angle is purely educational/awareness (not a direct push to the guide).\\nfunnel_stage: \"Slot 3 \u2014 Carousel\"\\n\\nSLOT 4 \u2014 CONVERSION REEL (FREE):\\nJob: Conversion-focused reel. Warm enough audience to ask for something. Drives to the free checklist.\\nFormat: B-Roll Reel or Talking Head Reel \u2014 NO carousel. Reels only.\\nCTA: \"Comment FREE for the checklist\" \u2014 always FREE, never KNEE\\nfunnel_stage: \"Slot 4 \u2014 Conversion Reel (FREE)\"\\n\\nSLOT 5 \u2014 CONVERSION REEL (KNEE):\\nJob: Direct push to the $17 Knee Pain Guide. Warm audience. Make \"Comment KNEE\" feel like the obvious next step.\\nFormat: B-Roll Reel or Talking Head Reel \u2014 NO carousel. Reels only.\\nCTA: \"Comment KNEE and I\\'ll send you the guide\" \u2014 always KNEE, never FREE\\nfunnel_stage: \"Slot 5 \u2014 Conversion Reel (KNEE)\"\\n\\nCONTENT PILLARS:\\n1. Pain & Injury \u2014 KNEE PAIN is primary. Elbow/shoulder secondary.\\n2. Performance & Technique (split step, footwork, third shot drop, court movement)\\n3. Recovery & Longevity (recovery protocols, playing at 50+, injury prevention)\\n4. Credibility & Story (clinic observations, Lane\\'s playing experience)\\n\\nCONTENT FORMATS:\\n\\nB-ROLL REEL:\\n- Two lines of on-screen text over court footage. No voiceover.\\n- hook_line_1: \u22647 words. Stops scroll before audio. Passes \"Is this exactly me?\" test.\\n- hook_line_2: max 12 words. Deepens curiosity. Never completes the explanation.\\n- Caption: emotional mirror + gap statement + CTA\\n- NEVER put exercises, mechanisms, or actionable fixes in overlay text\\n\\nTALKING HEAD REEL:\\n- Lane speaks to camera, 30-45 sec, 75-115 words spoken\\n- Structure: Hook \u2192 Mirror Dave\\'s experience \u2192 Validate why past attempts failed \u2192 Name a fixable cause exists but NEVER reveal it \u2192 CTA\\n- hook_line_1 doubles as header overlay: \u22647 words\\n\\nCAROUSEL (Slot 3 ONLY \u2014 5 slides, pick one carousel_type):\\n- PAIN MIRROR: Reflects Dave\\'s exact knee experience back at him. Highest saves.\\n- BELIEF VIOLATION: Busts a myth (\"rest fixes it\", \"strengthen your quads\"). High trust.\\n- FAILED INTERVENTION: Validates why ice/PT/rest didn\\'t work. Positions Lane as answer.\\n- IDENTITY HOOK: Speaks to his player identity being threatened. Emotional, high saves.\\n- MECHANISM TEASE: Hints at a specific upstream cause \u2014 never names it. Curiosity-driven.\\nSlide arc: Slide 1 (hook_line_1, \u22648 words) \u2192 Slides 2-4 (Recognition \u2192 Validation \u2192 The Gap \u2014 NEVER explain the mechanism) \u2192 Slide 5 (CTA, dark background, keyword in ALL CAPS)\\n- NEVER put exercises, named mechanisms, sets/reps, or \"here\\'s what to do\" in any slide\\n\\nHOOK ENGINEERING RULES (every hook_line_1):\\n- \u22647 words. Passes \"Is this exactly me?\" test for Dave.\\n- Opens a curiosity gap \u2014 loop Dave must close by watching\\n- Must hit 3+ of: Pattern Interrupt | Identity Activation | Belief Violation | Curiosity Gap | Threat/Stakes\\n- Belief violation performs best: contradict something Dave believes that is incomplete\\n- Specificity: \"game 3 knee pain\" beats \"knee pain\"\\n- Identity-first: speak to Dave the player, not the patient\\n- NEVER complete the loop in free content \u2014 tease only\\n\\nANGLE TYPES (all 5 must be different):\\n- Belief Violation | Pain Mirror | Failed Intervention | Identity Hook | Mechanism Tease | Game Observation\\n\\nSOURCE WEIGHTING:\\n- INSTAGRAM (80%): Top-liked posts = primary hook/angle inspiration. Slot 1 hook must come from #1 or #2 most-liked IG post.\\n- REDDIT (15%): Real player language. Borrow exact words for hooks and captions.\\n- YOUTUBE/WEB (5%): Topic validation only. Do not build hooks from these.\\n\\nCONTENT RULES:\\n- No hype language\\n- Only two ManyChat keywords: KNEE ($17 guide) and FREE (free checklist). Never invent others.\\n- Slots 1\u20132: engagement CTAs only. NO KNEE or FREE.\\n- Slot 3: KNEE (default) or FREE (educational-only carousels)\\n- Slot 4: FREE only\\n- Slot 5: KNEE only\\n- All 5 angles must differ\\n- Slots 3\u20135 should be knee-pain focused nearly every run\\n\\nOUTPUT FORMAT \u2014 respond ONLY with a valid JSON array of exactly 5 objects. No markdown, no preamble.\\n\\n[\\n  {\\n    \"number\": 1,\\n    \"funnel_stage\": \"Slot 1 \u2014 Viral Reel\",\\n    \"format\": \"B-Roll Reel\",\\n    \"pillar\": \"Pain & Injury\",\\n    \"angle\": \"Pain Mirror\",\\n    \"hook_line_1\": \"Game 3 knee. Every. Single. Time.\",\\n    \"hook_line_2\": \"Your warmup was perfect. So what changed?\",\\n    \"caption_opener\": \"You feel fine in warmup. Fine in game 1. Game 3 it lights up.\",\\n    \"cta\": \"Send this to someone who needs to hear it\",\\n    \"why_fresh\": \"Top IG post mirrored this exact pattern.\",\\n    \"source_signal\": \"IG post 4,200 likes: third game and my knee is done\"\\n  }\\n]\\n\\nFor the Carousel (Slot 3 only), also include:\\n    \"carousel_type\": \"Pain Mirror\"';\n\nconst anthropicRequestBody = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 2500,\n  system: systemPrompt,\n  messages: [{\n    role: 'user',\n    content: 'Here is today\\'s research data. Instagram posts sorted by likes descending \u2014 primary signal. Generate the 5-slot daily content mix now:\\n\\n' + summary\n  }]\n};\n\nreturn [{ json: { researchSummary: summary, anthropicRequestBody } }];"
      }
    },
    {
      "id": "a1b2c3d4-0007-4000-8000-100000000007",
      "name": "Anthropic API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        460
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.anthropicRequestBody) }}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "eOnTVoI4T51y0qiq",
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0008-4000-8000-100000000008",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        460
      ],
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\n// Check for API-level error\nif (response.error) {\n  console.error('Anthropic API error:', JSON.stringify(response.error));\n  return [{ json: {\n    ideas: [{\n      number: 0,\n      format: 'ERROR',\n      pillar: 'N/A',\n      topic: 'Claude API returned an error: ' + (response.error.message || JSON.stringify(response.error)),\n      angle: 'N/A',\n      cta: 'Check n8n logs',\n      hook_line_1: 'Pipeline error \u2014 check logs',\n      hook_line_2: '',\n      caption_opener: '',\n      why_fresh: '',\n      source_signal: ''\n    }],\n    parseError: true,\n    rawError: JSON.stringify(response.error)\n  }}];\n}\n\n// Extract the text content from Claude's response\nlet rawText = '';\nif (response.content && Array.isArray(response.content) && response.content.length > 0) {\n  rawText = response.content[0].text || '';\n} else if (typeof response === 'string') {\n  rawText = response;\n}\n\nif (!rawText) {\n  return [{ json: {\n    ideas: [{\n      number: 0,\n      format: 'ERROR',\n      pillar: 'N/A',\n      topic: 'Claude returned an empty response',\n      angle: 'N/A',\n      cta: 'Check n8n logs',\n      hook_line_1: 'Empty response from Claude',\n      hook_line_2: '',\n      caption_opener: '',\n      why_fresh: '',\n      source_signal: ''\n    }],\n    parseError: true,\n    rawText: ''\n  }}];\n}\n\n// Try to parse the JSON array from Claude's response\nlet ideas = [];\ntry {\n  // Strip any accidental markdown code fences\n  let cleaned = rawText.trim();\n  if (cleaned.startsWith('```')) {\n    cleaned = cleaned.replace(/^```[^\\n]*\\n/, '').replace(/\\n```$/, '').trim();\n  }\n  ideas = JSON.parse(cleaned);\n  if (!Array.isArray(ideas)) {\n    throw new Error('Parsed value is not an array');\n  }\n} catch (e) {\n  console.error('Failed to parse Claude response as JSON:', e.message);\n  console.error('Raw text was:', rawText.substring(0, 500));\n  return [{ json: {\n    ideas: [{\n      number: 0,\n      format: 'PARSE ERROR',\n      pillar: 'N/A',\n      topic: 'Claude response could not be parsed as JSON. Check n8n logs for raw output.',\n      angle: 'N/A',\n      cta: 'Check n8n logs',\n      hook_line_1: 'Parse error \u2014 check logs',\n      hook_line_2: '',\n      caption_opener: '',\n      why_fresh: e.message,\n      source_signal: rawText.substring(0, 300)\n    }],\n    parseError: true,\n    rawText: rawText\n  }}];\n}\n\nreturn [{ json: { ideas, parseError: false, rawText } }];"
      }
    },
    {
      "id": "a1b2c3d4-0009-4000-8000-100000000009",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        460
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst ideas = data.ideas || [];\n\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\nconst timeStr = now.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', timeZoneName: 'short' });\n\nif (data.parseError) {\n  const errorMsg = ':warning: *Content pipeline ran but Claude response couldn\\'t be parsed.*\\n\\nCheck n8n execution logs for details.\\n\\n' +\n    (data.rawError ? '*API Error:* ' + data.rawError + '\\n' : '') +\n    '_Run time: ' + timeStr + '_';\n  return [{ json: { slackText: errorMsg, isError: true } }];\n}\n\nif (!ideas || ideas.length === 0) {\n  return [{ json: { slackText: ':warning: *Content pipeline ran but returned no ideas.* Check n8n logs.\\n_' + timeStr + '_', isError: true } }];\n}\n\nconst slotEmojis = { 1: ':mega:', 2: ':mega:', 3: ':iphone:', 4: ':ticket:', 5: ':moneybag:' };\nconst slotLabels = {\n  1: 'SLOT 1 \u2014 VIRAL REEL',\n  2: 'SLOT 2 \u2014 VIRAL REEL',\n  3: 'SLOT 3 \u2014 CAROUSEL',\n  4: 'SLOT 4 \u2014 CONVERSION REEL (FREE)',\n  5: 'SLOT 5 \u2014 CONVERSION REEL (KNEE)'\n};\n\nlet msg = ':dart: *DAILY CONTENT MIX \u2014 ' + dateStr + '*\\n\\n';\nmsg += '\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\n\\n';\n\nfor (let i = 0; i < ideas.length; i++) {\n  const idea = ideas[i];\n  const num = idea.number || (i + 1);\n  const isCarousel = (idea.format || '').toLowerCase().includes('carousel');\n  const formatEmoji = isCarousel ? ':iphone:' : ':clapper:';\n  const formatLabel = idea.format || (isCarousel ? 'Carousel' : 'Reel');\n  const funnelStage = idea.funnel_stage || slotLabels[num] || ('Slot ' + num);\n  const stageEmoji = slotEmojis[num] || ':white_circle:';\n\n  msg += stageEmoji + ' *' + funnelStage.toUpperCase() + '*\\n';\n  msg += '*' + num + '. ' + formatEmoji + ' ' + formatLabel + ' | ' + (idea.pillar || '') + ' | ' + (idea.angle || '') + '*\\n';\n\n  if (idea.hook_line_1 || idea.hook_line_2) {\n    const hookText = [idea.hook_line_1, idea.hook_line_2].filter(Boolean).join(' / ');\n    msg += '*Hook:* \"' + hookText + '\"\\n';\n  }\n\n  if (idea.caption_opener) {\n    msg += '*Caption opener:* \"' + idea.caption_opener + '\"\\n';\n  }\n\n  if (idea.cta) {\n    msg += '*CTA:* `' + idea.cta + '`\\n';\n  }\n\n  if (isCarousel && idea.carousel_type) {\n    msg += '*Carousel type:* _' + idea.carousel_type + '_\\n';\n  }\n\n  if (idea.why_fresh) {\n    msg += '*Why fresh:* _' + idea.why_fresh + '_\\n';\n  }\n\n  if (idea.source_signal) {\n    msg += '*Source:* _' + idea.source_signal + '_\\n';\n  }\n\n  if (i < ideas.length - 1) msg += '\\n';\n}\n\nmsg += '\\n\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\n';\nmsg += '_Scraped from Reddit, YouTube, web & Instagram via Apify \\u2022 ' + timeStr + '_';\n\nreturn [{ json: { slackText: msg, isError: false } }];"
      }
    },
    {
      "id": "a1b2c3d4-0010-4000-8000-100000000010",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        460
      ],
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'C0AV5F55T7F', text: $json.slackText, mrkdwn: true }) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "0hb7o2iJ2ZGM82t6",
          "name": "Slack Bot Token"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Reddit Scraper",
            "type": "main",
            "index": 0
          },
          {
            "node": "YouTube Scraper",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Web Scraper",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit Scraper": {
      "main": [
        [
          {
            "node": "Merge Scrapers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Scraper": {
      "main": [
        [
          {
            "node": "Merge Scrapers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Web Scraper": {
      "main": [
        [
          {
            "node": "Merge Scrapers",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Instagram Scraper": {
      "main": [
        [
          {
            "node": "Merge Scrapers",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge Scrapers": {
      "main": [
        [
          {
            "node": "Aggregate Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Research": {
      "main": [
        [
          {
            "node": "Anthropic API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic API": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Format Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Message": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "id": "pickleball-daily-content-pipeline",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "pickleball-chiro-local"
  }
}