Tracking/pickleball_chiro_workflow.json
{
  "name": "Pickleball Chiro – Data Logger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pickleball-chiro",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "pickleball-chiro-logger"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "log_mileage",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "log_mileage"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "log_income",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "log_income"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "log_expense",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "log_expense"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "add_lead",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "add_lead"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "add_client",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "add_client"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-router",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [460, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17e-O3auikpGd41qX8TXwzYmyJrmSD1u869Hf1Ch_asI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.body.date || new Date().toLocaleDateString('en-US') }}",
            "client_name": "={{ $json.body.client_name }}",
            "type": "={{ $json.body.type }}",
            "from": "={{ $json.body.from }}",
            "to": "={{ $json.body.to }}",
            "miles_one_way": "={{ $json.body.miles_one_way }}",
            "total_miles_RT": "={{ $json.body.miles_one_way * 2 }}",
            "deduction": "={{ ($json.body.miles_one_way * 2 * 0.70).toFixed(2) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "gs-mileage",
      "name": "Log Mileage",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [700, 160],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vOLOVPz4K4jQwx3R4DBEoZyDXvE3KGYa6c8xZuYXyGw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "💰 Income",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.body.date || new Date().toLocaleDateString('en-US') }}",
            "client_source": "={{ $json.body.client_source }}",
            "income_type": "={{ $json.body.income_type }}",
            "notes": "={{ $json.body.notes }}",
            "payment_method": "={{ $json.body.payment_method }}",
            "amount": "={{ $json.body.amount }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "gs-income",
      "name": "Log Income",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [700, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vOLOVPz4K4jQwx3R4DBEoZyDXvE3KGYa6c8xZuYXyGw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "🧾 Expenses",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.body.date || new Date().toLocaleDateString('en-US') }}",
            "vendor": "={{ $json.body.vendor }}",
            "category": "={{ $json.body.category }}",
            "description": "={{ $json.body.description }}",
            "payment_method": "={{ $json.body.payment_method }}",
            "amount": "={{ $json.body.amount }}",
            "tax_deductible": "={{ $json.body.tax_deductible }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "gs-expense",
      "name": "Log Expense",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [700, 440],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1p-GyHNvvlo5Bbwpr3iIfdm32UUTc77faOxVxRczX4mU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date_added": "={{ $json.body.date_added || new Date().toLocaleDateString('en-US') }}",
            "name": "={{ $json.body.name }}",
            "phone": "={{ $json.body.phone }}",
            "email": "={{ $json.body.email }}",
            "lead_source": "={{ $json.body.lead_source }}",
            "service_interest": "={{ $json.body.service_interest }}",
            "status": "={{ $json.body.status || 'New' }}",
            "follow_up_date": "={{ $json.body.follow_up_date }}",
            "notes": "={{ $json.body.notes }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "gs-lead",
      "name": "Add Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [700, 580],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1p-GyHNvvlo5Bbwpr3iIfdm32UUTc77faOxVxRczX4mU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Clients",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.body.name }}",
            "phone": "={{ $json.body.phone }}",
            "email": "={{ $json.body.email }}",
            "package": "={{ $json.body.package }}",
            "sessions_total": "={{ $json.body.sessions_total }}",
            "notes": "={{ $json.body.notes }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "gs-client",
      "name": "Add Client",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [700, 720],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, action: $('Webhook').first().json.body.action, message: 'Row appended successfully' }) }}",
        "options": {}
      },
      "id": "respond-mileage",
      "name": "Respond Mileage",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [940, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, action: $('Webhook').first().json.body.action, message: 'Row appended successfully' }) }}",
        "options": {}
      },
      "id": "respond-income",
      "name": "Respond Income",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [940, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, action: $('Webhook').first().json.body.action, message: 'Row appended successfully' }) }}",
        "options": {}
      },
      "id": "respond-expense",
      "name": "Respond Expense",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [940, 440]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, action: $('Webhook').first().json.body.action, message: 'Row appended successfully' }) }}",
        "options": {}
      },
      "id": "respond-lead",
      "name": "Respond Lead",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [940, 580]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, action: $('Webhook').first().json.body.action, message: 'Row appended successfully' }) }}",
        "options": {}
      },
      "id": "respond-client",
      "name": "Respond Client",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [940, 720]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Route by Action", "type": "main", "index": 0 }]
      ]
    },
    "Route by Action": {
      "main": [
        [{ "node": "Log Mileage", "type": "main", "index": 0 }],
        [{ "node": "Log Income", "type": "main", "index": 0 }],
        [{ "node": "Log Expense", "type": "main", "index": 0 }],
        [{ "node": "Add Lead", "type": "main", "index": 0 }],
        [{ "node": "Add Client", "type": "main", "index": 0 }]
      ]
    },
    "Log Mileage": {
      "main": [[{ "node": "Respond Mileage", "type": "main", "index": 0 }]]
    },
    "Log Income": {
      "main": [[{ "node": "Respond Income", "type": "main", "index": 0 }]]
    },
    "Log Expense": {
      "main": [[{ "node": "Respond Expense", "type": "main", "index": 0 }]]
    },
    "Add Lead": {
      "main": [[{ "node": "Respond Lead", "type": "main", "index": 0 }]]
    },
    "Add Client": {
      "main": [[{ "node": "Respond Client", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-24T00:00:00.000Z",
  "versionId": "1"
}
