Content & Social Media/pickleball-content-pipeline.json
{
  "name": "Pickleball Chiro — Daily Content Pipeline",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-4000-8000-100000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        400
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-4000-8000-100000000002",
      "name": "Reddit Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~reddit-scraper/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $credentials.httpHeaderAuth.value }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"startUrls\": [\n    {\n      \"url\": \"https://www.reddit.com/r/pickleball/\"\n    },\n    {\n      \"url\": \"https://www.reddit.com/r/pickleballcommunity/\"\n    }\n  ],\n  \"searches\": [\n    {\n      \"query\": \"reset volley keeps popping up pickleball\",\n      \"type\": \"subreddit\"\n    },\n    {\n      \"query\": \"third shot drop inconsistent pickleball\",\n      \"type\": \"subreddit\"\n    },\n    {\n      \"query\": \"stuck at 3.5 can't improve rating\",\n      \"type\": \"subreddit\"\n    },\n    {\n      \"query\": \"pickleball plateau how to improve\",\n      \"type\": \"subreddit\"\n    },\n    {\n      \"query\": \"dinking under pressure pickleball\",\n      \"type\": \"subreddit\"\n    },\n    {\n      \"query\": \"pickleball lessons worth it coach\",\n      \"type\": \"subreddit\"\n    },\n    {\n      \"query\": \"knee pain pickleball\",\n      \"type\": \"subreddit\"\n    },\n    {\n      \"query\": \"pickleball footwork tips\",\n      \"type\": \"subreddit\"\n    }\n  ],\n  \"sort\": \"top\",\n  \"time\": \"week\",\n  \"maxItems\": 25,\n  \"includeComments\": true,\n  \"maxComments\": 3\n}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "C8sMu1dmpjCoiZD2",
          "name": "Apify API Token"
        }
      }
    },
    {
      "id": "a1b2c3d4-0003-4000-8000-100000000003",
      "name": "YouTube Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        360
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/bernardo~youtube-scraper/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $credentials.httpHeaderAuth.value }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"searchQueries\": [\n    \"pickleball reset technique fix\",\n    \"third shot drop pickleball coaching\",\n    \"how to improve pickleball rating 3.5 to 4.0\",\n    \"pickleball knee pain over 50\"\n  ],\n  \"maxResults\": 10,\n  \"includeChannelInfo\": false\n}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "C8sMu1dmpjCoiZD2",
          "name": "Apify API Token"
        }
      }
    },
    {
      "id": "a1b2c3d4-0004-4000-8000-100000000004",
      "name": "Google Web Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        560
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~google-search-scraper/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $credentials.httpHeaderAuth.value }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"queries\": \"pickleball reset technique coaching\\npickleball third shot drop fix\\nstuck at 3.5 pickleball how to improve\\npickleball lessons near me\\npickleball knee pain players over 50\",\n  \"resultsPerPage\": 10,\n  \"maxPagesPerQuery\": 1,\n  \"languageCode\": \"en\",\n  \"countryCode\": \"us\"\n}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "C8sMu1dmpjCoiZD2",
          "name": "Apify API Token"
        }
      }
    },
    {
      "id": "a1b2c3d4-0011-4000-8000-100000000011",
      "name": "Instagram Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        760
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~instagram-scraper/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $credentials.httpHeaderAuth.value }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"resultsType\": \"posts\",\n  \"directUrls\": [\n    \"https://www.instagram.com/explore/tags/pickleballtips/\",\n    \"https://www.instagram.com/explore/tags/pickleballcoach/\",\n    \"https://www.instagram.com/explore/tags/pickleballtechnique/\",\n    \"https://www.instagram.com/explore/tags/pickleballdrills/\",\n    \"https://www.instagram.com/explore/tags/pickleballlessons/\",\n    \"https://www.instagram.com/explore/tags/pickleballcommunity/\",\n    \"https://www.instagram.com/explore/tags/pickleballover50/\",\n    \"https://www.instagram.com/explore/tags/pickleballlife/\",\n    \"https://www.instagram.com/explore/tags/pickleballviral/\",\n    \"https://www.instagram.com/explore/tags/pickleballknee/\",\n    \"https://www.instagram.com/explore/tags/pickleball/\"\n  ],\n  \"resultsLimit\": 150,\n  \"searchType\": \"hashtag\",\n  \"searchLimit\": 10\n}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "C8sMu1dmpjCoiZD2",
          "name": "Apify API Token"
        }
      }
    },
    {
      "id": "a1b2c3d4-0005-4000-8000-100000000005",
      "name": "Merge Scrapers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        720,
        460
      ],
      "parameters": {
        "mode": "append",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0006-4000-8000-100000000006",
      "name": "Aggregate Research",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        460
      ],
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst redditPosts = [];\nconst youtubeTitles = [];\nconst webHeadlines = [];\nconst instagramRaw = [];\n\nfor (const item of allItems) {\n  const d = item.json;\n  if (!d || typeof d !== 'object') continue;\n\n  if (d.caption !== undefined || d.likesCount !== undefined || d.shortCode !== undefined) {\n    const caption = (d.caption || '').substring(0, 280);\n    const likes = d.likesCount || 0;\n    const code = d.shortCode || d.id || '';\n    if (caption) {\n      instagramRaw.push({\n        likes: Number(likes),\n        text: '[' + Number(likes).toLocaleString() + ' likes] ' + caption + (code ? ' (https://www.instagram.com/p/' + code + '/)' : '')\n      });\n    }\n  }\n  else if (d.subreddit !== undefined || d.selftext !== undefined || d.postText !== undefined) {\n    const title = d.title || d.postTitle || '';\n    const body = (d.selftext || d.body || d.postText || '').substring(0, 250);\n    const score = d.score || d.upvotes || 0;\n    let topComment = '';\n    if (Array.isArray(d.comments) && d.comments.length > 0) {\n      topComment = (d.comments[0].body || d.comments[0].text || '').substring(0, 180);\n    } else if (d.topComment) {\n      topComment = String(d.topComment).substring(0, 180);\n    }\n    if (title) {\n      let entry = '[' + score + ' upvotes] \"' + title + '\"';\n      if (body) entry += ' — ' + body;\n      if (topComment) entry += ' | Top comment: ' + topComment;\n      redditPosts.push(entry);\n    }\n  }\n  else if (d.viewCount !== undefined || d.channelName !== undefined || d.videoId !== undefined || d.duration !== undefined) {\n    const title = d.title || '';\n    const views = d.viewCount || d.views || 0;\n    if (title) youtubeTitles.push('\"' + title + '\" — ' + Number(views).toLocaleString() + ' views');\n  }\n  else if (d.title && (d.snippet !== undefined || d.link !== undefined || d.url !== undefined)) {\n    const title = d.title || '';\n    const snippet = (d.snippet || d.description || '').substring(0, 220);\n    if (title) webHeadlines.push('\"' + title + '\"' + (snippet ? ' — ' + snippet : ''));\n  }\n  else if (d.title) {\n    webHeadlines.push('\"' + d.title + '\"');\n  }\n}\n\ninstagramRaw.sort((a, b) => b.likes - a.likes);\nconst instagramPosts = instagramRaw.map(p => p.text);\n\nlet summary = '=== INSTAGRAM POSTS — PRIMARY SIGNAL (Sorted by Likes, Highest First) ===\\n';\nif (instagramPosts.length > 0) {\n  summary += instagramPosts.slice(0, 60).join('\\n') + '\\n';\n} else {\n  summary += '(Instagram scraper returned no data for this run)\\n';\n}\n\nsummary += '\\n=== REDDIT FINDINGS — REAL PLAYER LANGUAGE (~15% weight) ===\\n';\nif (redditPosts.length > 0) {\n  summary += redditPosts.slice(0, 10).join('\\n') + '\\n';\n} else {\n  summary += '(Reddit scraper returned no data for this run)\\n';\n}\n\nsummary += '\\n=== YOUTUBE & WEB — TOPIC VALIDATION ONLY (~5% weight) ===\\n';\nif (youtubeTitles.length > 0) summary += youtubeTitles.slice(0, 4).join('\\n') + '\\n';\nif (webHeadlines.length > 0) summary += webHeadlines.slice(0, 4).join('\\n') + '\\n';\nif (youtubeTitles.length === 0 && webHeadlines.length === 0) summary += '(No YouTube/web data for this run)\\n';\n\nif (summary.length > 18000) summary = summary.substring(0, 18000) + '\\n[... truncated to fit context window]';\n\nconst systemPrompt = 'You are a content strategist for @dr.lane_o, The Pickleball Chiro on Instagram. Generate 5 content ideas structured as a daily Instagram content mix: 2 viral reach reels, 1 carousel, and 2 conversion reels.\\n\\nAUDIENCE — WHO IS DAVE (PRIMARY AVATAR):\\nDave is a serious recreational pickleball player, 40-65 years old, plays 3-5x per week. He has been playing 1-3 years. He is stuck at 3.0-4.0 DUPR and cannot break through to the next level. He\\'s frustrated. He\\'s taken group clinics and watched YouTube — it helps for a session then reverts. His core desire: break through his rating plateau, finally beat the players who keep beating him, and feel like he is still improving. He will invest in coaching if he believes the coach can actually diagnose his specific game. He responds to hyper-specific language about his exact game failures — not generic tips. SECONDARY: newer player 35-55, accelerating development. TERTIARY (backend only): pain patient with knee/elbow issue — served by backend products, NOT the primary content focus.\\n\\nBRAND VOICE:\\n- Direct, peer-to-peer, credible — Lane plays pickleball AND adjusts pickleball players\\n- Never clinical or lecture-y\\n- NEVER: \"secret\", \"game-changer\", \"for good\", \"simple fix\", \"what nobody tells you\"\\n- Content sells decisions, not information — Dave should feel understood and curious, never educated and satisfied\\n- Hormozi principle: never sell directly. Engineer conditions for Dave to decide himself.\\n\\nTHE 5-SLOT DAILY MIX:\\nProduce exactly 5 ideas, one per slot, in order. Do not swap slots.\\n\\nSLOT 1 — VIRAL REEL (Max Reach):\\nJob: Maximum reach. Gets sent to friends. Zero selling. Hook MUST come directly from the top-liked Instagram post in the research data — mirror its exact language or energy.\\nFormat: B-Roll Reel or Talking Head Reel (your choice)\\nCTA: \"Follow for more\" OR \"Send this to someone who needs to hear it\" — NO KNEE or FREE\\nfunnel_stage: \"Slot 1 — Viral Reel\"\\n\\nSLOT 2 — VIRAL REEL (Reach, Different Angle):\\nJob: Second reach post. Different angle AND different format from Slot 1. If Slot 1 is B-Roll, Slot 2 must be Talking Head — and vice versa.\\nFormat: Whichever format Slot 1 did NOT use\\nCTA: \"Send this to your playing partner\" — NO KNEE or FREE\\nfunnel_stage: \"Slot 2 — Viral Reel\"\\n\\nSLOT 3 — CAROUSEL:\\nJob: The one carousel of the day. Earns saves. High visual value. Must be skill/technique/coaching focused.\\nFormat: Carousel — MANDATORY. Do not suggest a reel for this slot under any circumstances.\\nCTA: \\'Comment LESSONS and let\\'s work on this\\' — ALWAYS LESSONS in Slot 3. Never KNEE or FREE here.\\nfunnel_stage: \\'Slot 3 — Carousel\\'\\n\\nSLOT 4 — CONVERSION REEL (LESSONS):\\nJob: Conversion-focused reel. Warm enough audience to ask for something. Drives to a lesson booking. Skill/technique topic, direct ask.\\nFormat: B-Roll Reel or Talking Head Reel — NO carousel. Reels only.\\nCTA: \\'Comment LESSONS and let\\'s work on this\\' — always LESSONS. Never KNEE or FREE.\\nfunnel_stage: \\'Slot 4 — Conversion Reel (LESSONS)\\'\\n\\nSLOT 5 — CONVERSION REEL:\\nJob: Conversion reel. Primarily LESSONS-focused (4 of 5 runs). Occasionally rotates to pain content once per week maximum. Default: skill/technique topic with Comment LESSONS. Pain rotation (1 of 5 runs only): knee/elbow topic with Comment FREE or KNEE.\\nFormat: B-Roll Reel or Talking Head Reel — NO carousel. Reels only.\\nCTA (default, 4 of 5 runs): \\'Comment LESSONS and let\\'s work on this\\' | CTA (pain rotation only): \\'Comment FREE for the guide\\' or \\'Comment KNEE and I\\'ll send you the course\\'\\nfunnel_stage: \\'Slot 5 — Conversion Reel\\'\\n\\nCONTENT PILLARS (70/20/10 split — NON-NEGOTIABLE):\\n1. Skill & Technique (70%) — shot mechanics, drills, strategy, common mistakes: reset volley, third shot drop, dinking, topspin forehand, footwork, ATP/erne, split step. PRIMARY growth driver.\\n2. Performance & Movement (20%) — training for court performance: exercises, mobility, strength, agility, movement efficiency. Always framed as \\'perform better on court\\' not \\'prevent injury.\\'\\n3. Pain & Longevity (10% MAX — one post per week absolute maximum) — knee/elbow/shoulder. Framed as \\'keep playing more\\' not \\'fix your injury.\\' Backend products only (FREE = guide, KNEE = course).\\n\\nCONTENT FORMATS:\\n\\nB-ROLL REEL:\\n- Two lines of on-screen text over court footage. No voiceover.\\n- hook_line_1: ≤7 words. Stops scroll before audio. Passes \"Is this exactly me?\" test.\\n- hook_line_2: max 12 words. Deepens curiosity. Never completes the explanation.\\n- Caption: emotional mirror + gap statement + CTA\\n- NEVER put exercises, mechanisms, or actionable fixes in overlay text\\n\\nTALKING HEAD REEL:\\n- Lane speaks to camera, 30-45 sec, 75-115 words spoken\\n- Structure: Hook → Mirror Dave\\'s experience → Validate why past attempts failed → Name a fixable cause exists but NEVER reveal it → CTA\\n- hook_line_1 doubles as header overlay: ≤7 words\\n\\nCAROUSEL (Slot 3 ONLY — 5 slides, pick one carousel_type):\\n- MISTAKE MIRROR: Names the exact shot failure Dave keeps making (reset that pops up, third shot that never drops). Highest saves.\\n- BELIEF VIOLATION: Busts a coaching myth (\\'just drill more\\', \\'it\\'s about your grip\\'). High trust.\\n- RATING ROADBLOCK: Validates why Dave\\'s plateau isn\\'t his fault — names what group clinics and YouTube miss. Positions Lane as the answer.\\n- IDENTITY HOOK: Speaks to his player identity being threatened (still at 3.5 while his partner leveled up). Emotional, high saves.\\n- MECHANISM TEASE: Hints at a specific fixable cause in Dave\\'s game — never names the drill or fix. Curiosity-driven.\\nSlide arc: Slide 1 (hook_line_1, ≤8 words) → Slides 2-4 (Recognition → Validation → The Gap — NEVER explain the mechanism) → Slide 5 (CTA, dark background, keyword in ALL CAPS)\\n- NEVER put exercises, named mechanisms, sets/reps, or \"here\\'s what to do\" in any slide\\n\\nHOOK ENGINEERING RULES (every hook_line_1):\\n- ≤7 words. Passes \"Is this exactly me?\" test for Dave.\\n- Opens a curiosity gap — loop Dave must close by watching\\n- Must hit 3+ of: Pattern Interrupt | Identity Activation | Belief Violation | Curiosity Gap | Threat/Stakes\\n- Belief violation performs best: contradict something Dave believes that is incomplete\\n- Specificity: \"reset that pops up in real points\" beats \"reset problems\"\\n- Identity-first: speak to Dave the player, not the patient\\n- NEVER complete the loop in free content — tease only\\n\\nANGLE TYPES (all 5 must be different):\\n- Belief Violation | Mistake Mirror | Failed Intervention | Identity Hook | Mechanism Tease | Game Observation | Rating Roadblock | Technique Breakdown | Drill Callout\\n\\nSOURCE WEIGHTING:\\n- INSTAGRAM (80%): Top-liked posts = primary hook/angle inspiration. Slot 1 hook must come from #1 or #2 most-liked IG post.\\n- REDDIT (15%): Real player language. Borrow exact words for hooks and captions.\\n- YOUTUBE/WEB (5%): Topic validation only. Do not build hooks from these.\\n\\nCONTENT RULES:\\n- No hype language\\n- ManyChat keywords: LESSONS (lesson booking), DRILLS (drill series), FREE (free knee pain guide), KNEE ($97 Knee Pain Course). Never invent others.\\n- Slots 1 and 2: engagement CTAs only (Follow / Send this to). NEVER LESSONS, KNEE, or FREE.\\n- Slots 1 and 2: ALWAYS skill/technique/coaching content. NEVER pain/injury.\\n- Slot 3: LESSONS only — always \\'Comment LESSONS and let\\'s work on this\\'. Never KNEE or FREE.\\n- Slot 4: LESSONS only — always \\'Comment LESSONS and let\\'s work on this\\'. Never KNEE or FREE.\\n- Slot 5 (default, 4 of 5 runs): LESSONS — skill/technique content with \\'Comment LESSONS\\' CTA.\\n- Slot 5 (pain rotation, 1 of 5 runs max): pain/longevity content with FREE or KNEE CTA.\\n- Pain/injury content appears in Slot 5 ONCE PER WEEK MAXIMUM. Never in Slots 1-4.\\n- KEYWORD NOUNS: LESSONS → \\'a lesson\\' or \\'let\\'s work on this\\'. FREE → \\'the guide\\'. KNEE → \\'the course\\'. NEVER say \\'checklist\\' — retired.\\n- All 5 angles must differ\\n\\nOUTPUT FORMAT — respond ONLY with a valid JSON array of exactly 5 objects. No markdown, no preamble.\\n\\n[\\n  {\\n    \"number\": 1,\\n    \"funnel_stage\": \"Slot 1 — Viral Reel\",\\n    \"format\": \"B-Roll Reel\",\\n    \"pillar\": \"Skill & Technique\",\\n    \"angle\": \"Mistake Mirror\",\\n    \"hook_line_1\": \"Your reset keeps popping up in real points.\",\\n    \"hook_line_2\": \"Works in drilling. Falls apart under pressure.\",\\n    \"caption_opener\": \"You\\'ve drilled it. Watched the video. Still pops up at 9-9.\"\",\\n    \"cta\": \"Send this to someone who needs to hear it\",\\n    \"why_fresh\": \"Top IG post mirrored this exact pattern.\",\\n    \"source_signal\": \"IG post 4,200 likes: third game and my knee is done\"\\n  }\\n]\\n\\nFor the Carousel (Slot 3 only), also include:\\n    \"carousel_type\": \"Mistake Mirror\"';\n\nconst anthropicRequestBody = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 2500,\n  system: systemPrompt,\n  messages: [{\n    role: 'user',\n    content: 'Here is today\\'s research data. Instagram posts sorted by likes descending — primary signal. Generate the 5-slot daily content mix now:\\n\\n' + summary\n  }]\n};\n\nreturn [{ json: { researchSummary: summary, anthropicRequestBody } }];"
      }
    },
    {
      "id": "a1b2c3d4-0007-4000-8000-100000000007",
      "name": "Anthropic API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        460
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.anthropicRequestBody) }}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "eOnTVoI4T51y0qiq",
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0008-4000-8000-100000000008",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        460
      ],
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\n// Check for API-level error\nif (response.error) {\n  console.error('Anthropic API error:', JSON.stringify(response.error));\n  return [{ json: {\n    ideas: [{\n      number: 0,\n      format: 'ERROR',\n      pillar: 'N/A',\n      topic: 'Claude API returned an error: ' + (response.error.message || JSON.stringify(response.error)),\n      angle: 'N/A',\n      cta: 'Check n8n logs',\n      hook_line_1: 'Pipeline error — check logs',\n      hook_line_2: '',\n      caption_opener: '',\n      why_fresh: '',\n      source_signal: ''\n    }],\n    parseError: true,\n    rawError: JSON.stringify(response.error)\n  }}];\n}\n\n// Extract the text content from Claude's response\nlet rawText = '';\nif (response.content && Array.isArray(response.content) && response.content.length > 0) {\n  rawText = response.content[0].text || '';\n} else if (typeof response === 'string') {\n  rawText = response;\n}\n\nif (!rawText) {\n  return [{ json: {\n    ideas: [{\n      number: 0,\n      format: 'ERROR',\n      pillar: 'N/A',\n      topic: 'Claude returned an empty response',\n      angle: 'N/A',\n      cta: 'Check n8n logs',\n      hook_line_1: 'Empty response from Claude',\n      hook_line_2: '',\n      caption_opener: '',\n      why_fresh: '',\n      source_signal: ''\n    }],\n    parseError: true,\n    rawText: ''\n  }}];\n}\n\n// Try to parse the JSON array from Claude's response\nlet ideas = [];\ntry {\n  // Strip any accidental markdown code fences\n  let cleaned = rawText.trim();\n  if (cleaned.startsWith('```')) {\n    cleaned = cleaned.replace(/^```[^\\n]*\\n/, '').replace(/\\n```$/, '').trim();\n  }\n  ideas = JSON.parse(cleaned);\n  if (!Array.isArray(ideas)) {\n    throw new Error('Parsed value is not an array');\n  }\n} catch (e) {\n  console.error('Failed to parse Claude response as JSON:', e.message);\n  console.error('Raw text was:', rawText.substring(0, 500));\n  return [{ json: {\n    ideas: [{\n      number: 0,\n      format: 'PARSE ERROR',\n      pillar: 'N/A',\n      topic: 'Claude response could not be parsed as JSON. Check n8n logs for raw output.',\n      angle: 'N/A',\n      cta: 'Check n8n logs',\n      hook_line_1: 'Parse error — check logs',\n      hook_line_2: '',\n      caption_opener: '',\n      why_fresh: e.message,\n      source_signal: rawText.substring(0, 300)\n    }],\n    parseError: true,\n    rawText: rawText\n  }}];\n}\n\nreturn [{ json: { ideas, parseError: false, rawText } }];"
      }
    },
    {
      "id": "a1b2c3d4-0009-4000-8000-100000000009",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        460
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst ideas = data.ideas || [];\n\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\nconst timeStr = now.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', timeZoneName: 'short' });\n\nif (data.parseError) {\n  const errorMsg = ':warning: *Content pipeline ran but Claude response couldn\\'t be parsed.*\\n\\nCheck n8n execution logs for details.\\n\\n' +\n    (data.rawError ? '*API Error:* ' + data.rawError + '\\n' : '') +\n    '_Run time: ' + timeStr + '_';\n  return [{ json: { slackText: errorMsg, isError: true } }];\n}\n\nif (!ideas || ideas.length === 0) {\n  return [{ json: { slackText: ':warning: *Content pipeline ran but returned no ideas.* Check n8n logs.\\n_' + timeStr + '_', isError: true } }];\n}\n\nconst slotEmojis = { 1: ':mega:', 2: ':mega:', 3: ':iphone:', 4: ':ticket:', 5: ':moneybag:' };\nconst slotLabels = {\n  1: 'SLOT 1 — VIRAL REEL',\n  2: 'SLOT 2 — VIRAL REEL',\n  3: 'SLOT 3 — CAROUSEL',\n  4: 'SLOT 4 — CONVERSION REEL (FREE)',\n  5: 'SLOT 5 — CONVERSION REEL (KNEE)'\n};\n\nlet msg = ':dart: *DAILY CONTENT MIX — ' + dateStr + '*\\n\\n';\nmsg += '\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\n\\n';\n\nfor (let i = 0; i < ideas.length; i++) {\n  const idea = ideas[i];\n  const num = idea.number || (i + 1);\n  const isCarousel = (idea.format || '').toLowerCase().includes('carousel');\n  const formatEmoji = isCarousel ? ':iphone:' : ':clapper:';\n  const formatLabel = idea.format || (isCarousel ? 'Carousel' : 'Reel');\n  const funnelStage = idea.funnel_stage || slotLabels[num] || ('Slot ' + num);\n  const stageEmoji = slotEmojis[num] || ':white_circle:';\n\n  msg += stageEmoji + ' *' + funnelStage.toUpperCase() + '*\\n';\n  msg += '*' + num + '. ' + formatEmoji + ' ' + formatLabel + ' | ' + (idea.pillar || '') + ' | ' + (idea.angle || '') + '*\\n';\n\n  if (idea.hook_line_1 || idea.hook_line_2) {\n    const hookText = [idea.hook_line_1, idea.hook_line_2].filter(Boolean).join(' / ');\n    msg += '*Hook:* \"' + hookText + '\"\\n';\n  }\n\n  if (idea.caption_opener) {\n    msg += '*Caption opener:* \"' + idea.caption_opener + '\"\\n';\n  }\n\n  if (idea.cta) {\n    msg += '*CTA:* `' + idea.cta + '`\\n';\n  }\n\n  if (isCarousel && idea.carousel_type) {\n    msg += '*Carousel type:* _' + idea.carousel_type + '_\\n';\n  }\n\n  if (idea.why_fresh) {\n    msg += '*Why fresh:* _' + idea.why_fresh + '_\\n';\n  }\n\n  if (idea.source_signal) {\n    msg += '*Source:* _' + idea.source_signal + '_\\n';\n  }\n\n  if (i < ideas.length - 1) msg += '\\n';\n}\n\nmsg += '\\n\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\n';\nmsg += '_Scraped from Reddit, YouTube, web & Instagram via Apify \\u2022 ' + timeStr + '_';\n\nreturn [{ json: { slackText: msg, isError: false } }];"
      }
    },
    {
      "id": "a1b2c3d4-0010-4000-8000-100000000010",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        460
      ],
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'C0AV5F55T7F', text: $json.slackText, mrkdwn: true }) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "0hb7o2iJ2ZGM82t6",
          "name": "Slack Bot Token"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Reddit Scraper",
            "type": "main",
            "index": 0
          },
          {
            "node": "YouTube Scraper",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Web Scraper",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit Scraper": {
      "main": [
        [
          {
            "node": "Merge Scrapers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Scraper": {
      "main": [
        [
          {
            "node": "Merge Scrapers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Web Scraper": {
      "main": [
        [
          {
            "node": "Merge Scrapers",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Instagram Scraper": {
      "main": [
        [
          {
            "node": "Merge Scrapers",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge Scrapers": {
      "main": [
        [
          {
            "node": "Aggregate Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Research": {
      "main": [
        [
          {
            "node": "Anthropic API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic API": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Format Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Message": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "id": "pickleball-daily-content-pipeline",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "pickleball-chiro-local"
  }
}